body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    width: 100%;
    background-image: linear-gradient(to right, hsl(240, 100%, 60%), hsl(206, 100%, 45%));
    height: 80px;
}

label.logo{
    color: white;
    font-size: 30px;
    padding: 0 70px;
    line-height: 80px;
    font-weight: bold;
    text-transform: uppercase;
}

label.logo:hover{
    text-shadow: 1px 1px 10px white;
}

nav ul{
    padding: 0;
    margin: 0;
    margin-right: 20px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    float: right;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    text-align: center;
    margin: 0 0;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 20px 20px;
}

a.active, a:hover{
    color: hsl(251, 95%, 36%);
    text-shadow: 1px 1px 10px white;
    font-weight: bolder;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  #check{
    display: none;
  }

  @media (max-width: 900px){
    .checkbtn{
      display: block;
    }

    label.logo{
        padding-left: 20px;
    }

    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: hsl(210, 29%, 24%);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index: 1;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: hsl(206, 100%, 45%);
      text-shadow: none;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }


